.filter-list-wrap {
  margin-bottom: 40px;

  @media screen and (min-width: $tablet) {
    margin-bottom: 30px;
  }

  @media screen and (min-width: $desktop) {
    margin-bottom: 50px;
  }
}

.filter-list {
  display: flex;
  flex-wrap: wrap;
  margin: -8px -4px;

  @media screen and (min-width: $tablet) {
    justify-content: center;
  }

  @media screen and (min-width: $desktop) {
    justify-content: center;
  }

  &__item {
    margin: 8px 4px;
  }

  // &__item:not(:last-child) {
  //   @media screen and (min-width: $tablet) {
  //     margin-right: 8px;
  //   }
  // }
}
