.footer {
  padding: 60px 0;

  background-color: $primary-background-color;

  &__container {
    @media screen and (min-width: $tablet) {
      display: flex;
      flex-wrap: wrap;
    }
    @media screen and (min-width: $desktop) {
      // display: flex;
      align-items: center;
      // flex-wrap: wrap;
      justify-content: space-around;
    }
  }
  &__contact {
    display: flex;
    margin-bottom: 60px;
  }

  &__address {
    @media screen and (min-width: $tablet) {
      margin-left: 76px;
    }
  }
  &__logo-wraper {
    text-align: center;
    margin-bottom: 20px;
  }

  &__social {
    @media screen and (min-width: $tablet) {
      margin-left: 165px;
    }
    @media screen and (min-width: $desktop) {
      margin-left: auto;
    }
  }

  &__title {
    text-align: center;
    margin-bottom: 20px;
    margin-right: auto;

    @include font(700, 14px, 1.14, 0.03em);
    text-transform: uppercase;

    color: $secondary-color;
  }

  &__subscribe {
    margin: auto;

    @media screen and (min-width: $desktop) {
      margin-left: auto;
    }
  }
}
