.footer {
  background-color: $primary-background-color;
  padding-top: 60px;
  padding-bottom: 60px;

  &__container {
    // display: flex;
    // align-items: center;
    // flex-wrap: wrap;
    // justify-content: space-around;
    @media screen and (min-width: $tablet) {
      display: flex;
      flex-wrap: wrap;
    }
  }

  &__address {
    @media screen and (min-width: $mobile) {
    }
  }
  &__social {
    @media screen and (min-width: $mobile) {
      display: block;
      margin: 60px auto;
    }
    margin-left: 70px;
  }

  &__title {
    text-align: center;
    margin-bottom: 20px;
    margin-right: auto;

    @include font(700, 14px, 1.14, 0.03em);
    text-transform: uppercase;

    color: $secondary-color;
  }

  &__subscribe {
    margin-left: auto;
  }
}
