.hero {
  text-align: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  padding: 118px 0;

  @include bg-img('../img/hero-backgraund-mob-1x.jpg');

  @media screen and (max-width: 767px) {
    @include bg-img('../img/hero-backgraund-mob-1x.jpg');

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      @include bg-img('../img/hero-backgraund-mob-2x.jpg');
    }
  }

  @media screen and (min-width: $tablet) and (max-width: 1199px) {
    @include bg-img('../img/hero-backgraund-tab-1x.jpg');

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      @include bg-img('../img/hero-backgraund-tab-2x.jpg');
    }
  }

  @media screen and (min-width: $desktop) {
    max-width: 1600px;
    padding: 200px 0;
    @include bg-img('../img/hero-backgraund-desk-1x.jpg');

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      @include bg-img('../img/hero-backgraund-desk-2x.jpg');
    }
  }

  &__title {
    text-align: center;
    margin: 0 auto 30px auto;

    text-transform: uppercase;

    color: $secondary-color;

    @media screen and (max-width: 1199px) {
      @include font(900, 26px, 1.61, 0.06em);
      max-width: 360px;
    }

    @media screen and (min-width: $desktop) {
      @include font(900, 44px, 1.36, 0.06em);
      max-width: 696px;
    }
  }
}
