.hero {
  text-align: center;
  padding: 200px 0;

  margin: 0 auto;

  background-image: linear-gradient(
      rgba($primary-background-color, 0.4),
      rgba($primary-background-color, 0.4)
    ),
    url(../img/hero-backgraund.svg);
  background-position: center;

  &__title {
    @media screen and (max-width: 1199px) {
      @include font(900, 26px, 1.61, 0.06em);
      max-width: 360px;
    }

    @media screen and (min-width: $desktop) {
      @include font(900, 44px, 1.36, 0.06em);
      max-width: 696px;
    }
    text-align: center;
    margin: 0 auto 30px auto;

    text-transform: uppercase;

    color: $secondary-color;
  }
}
