.service {
  @media screen and (max-width: 1199px) {
    display: none;
  }

  padding-top: 0;
}

.service-list {
  display: flex;
  margin: -15px;

  &__item {
    position: relative;
    margin: 15px;
    width: calc((100% - 90px) / 2);
  }

  &__title-overlay {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-top: 27px;
    padding-bottom: 27px;
    background-color: rgba($primary-background-color, 0.8);
  }

  &__title {
    text-align: center;
    @include font(700, 14px, 1.14, 0.03em);

    text-transform: uppercase;

    color: $secondary-color;
  }
}
