.skills-list {
  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
  }

  @media screen and (min-width: $desktop) {
    display: flex;
    flex-wrap: nowrap;
  }

  &__item {
    @media screen and (min-width: $tablet) {
      @include formula(100%/2, 30px, 30px);
    }
  }

  &__item:nth-child(2n) {
    @media screen and (min-width: $tablet) {
      margin-right: -30px;
    }
  }

  &__item:not(:last-child) {
    @media screen and (min-width: $desktop) {
      margin-right: 30px;
    }
  }

  &__icon-wraper {
    @media screen and (min-width: $mobile) {
      padding: 25px 190px;
    }

    @media screen and (min-width: $tablet) {
      padding: 25px 142px;
    }

    @media screen and (min-width: $desktop) {
      padding: 25px 100px;
    }

    border-radius: 4px;

    background: $secondary-background-color;
  }

  &__icon {
    display: block;
    margin: 0;
  }

  &__title {
    @media screen and (min-width: $mobile) {
      text-align: center;
    }

    margin-top: 30px;
    margin-bottom: 10px;

    @include font(700, 14px, 1.14, 0.03em);

    text-transform: uppercase;

    color: $primary-color;
  }

  &__text {
    @media screen and (min-width: $mobile) {
      max-width: $mobile;
    }
    // max-width: 270px;

    @include font(400, 14px, 1.71, 0.03em);

    color: $primary-shade-color;
  }
}
