%flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

%button {
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
// %linear-gradient {
//   background-image: linear-gradient(
//     rgba($primary-background-color, 0.4),
//     rgba($primary-background-color, 0.4)
//   );
// }
// %flex-wrap {
//   display: flex;
//   flex-wrap: wrap;
// }

// %flex-nowrap {
//   display: flex;
//   flex-wrap: nowrap;
// }
